/* CSS-Stil für das Logo */
.logo-container {
     /* Zentriert den Inhalt horizontal */
    padding-top: 20px; /* Fügt oben Abstand hinzu */
}

.logo {
    max-width: 250px; /* Maximale Breite des Logos */
    display: block; /* Macht das Logo zu einem Blockelement */
    margin: 0 auto 20px; /* Zentriert das Logo horizontal im Container */
}

.white-container {
    /* Füge hier weitere CSS-Stile für die Container hinzu, falls gewünscht */
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    top: 0;
}

.login-link {
    color: #837C69; /* Ändern Sie die Farbe des Links auf Weiß */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-weight: bold; /* Fett gedruckte Schrift, falls gewünscht */
}


/* CSS-Stil für das Log In darunter */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 70%;
    padding: 12px;
    margin: 18px 0;
    border: 2px solid #ccc;
    border-radius: 12px;
}

button {
    width: 50%;
    padding: 15px;
    color: #fff;
    background-color: #C9BF99;
    border: none;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
}