.logo-container {
    text-align: center; /* Zentriert den Inhalt horizontal */
    padding-top: 20px; /* Fügt oben Abstand hinzu */
}

.logo {
    max-width: 250px; /* Maximale Breite des Logos */
    display: block; /* Macht das Logo zu einem Blockelement */
    margin: 0 auto 20px; /* Zentriert das Logo horizontal im Container */
}
/* CSS-Stil für den Container */
.container {
    max-width: 80%; /* Ändert die maximale Breite auf 80% des Bildschirms */
    width: 400px;
    margin: 0 auto;
    padding: 40px 0; /* Fügt oben und unten Abstand hinzu */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center; /* Zentriert den Inhalt horizontal */
    background-color: #FCDE73;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.white-container {
            /* Füge hier weitere CSS-Stile für die Container hinzu, falls gewünscht */
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            text-align: center;
        }
        
.sport-activity {
            width: 100px;
            height: 100px;
            background-color: white; /* Weiß einfärben */
            border: 1px solid #ccc; /* Rand hinzufügen */
            text-align: center;
            line-height: 100px;
            font-size: 18px;
            margin: 10px;
            float: left;
            box-sizing: border-box; /* Rand und Padding berücksichtigen */
            border-radius: 10px; /* Ecken abrunden */
            overflow: hidden; /* Überlauf verstecken */
        }

.sport-activity:nth-child(odd) {
            clear: left; /* Nach jedem ungeraden Element den Zeilenumbruch erzwingen */
        }

.center-container {
            margin: 0 auto; /* Zentrieren */
            width: fit-content; /* Containergröße an den Inhalt anpassen */
        }
