/* CSS-Stil für das Logo */
.logo-container {
    text-align: center; /* Zentriert den Inhalt horizontal */
    padding-top: 20px; /* Fügt oben Abstand hinzu */
}

.logo {
    max-width: 250px; /* Maximale Breite des Logos */
    display: block; /* Macht das Logo zu einem Blockelement */
    margin: 0 auto 20px; /* Zentriert das Logo horizontal im Container */
}
.white-container {
    /* Füge hier weitere CSS-Stile für die Container hinzu, falls gewünscht */
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}
/* CSS-Stil für den Container */
.container {
    max-width: 80%; /* Ändert die maximale Breite auf 80% des Bildschirms */
    width: 400px;
    margin: 0 auto;
    padding: 40px 0; /* Fügt oben und unten Abstand hinzu */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center; /* Zentriert den Inhalt horizontal */
    background-color: #FCDE73;
}

.login-link {
    color: #C9BF99; /* Ändern Sie die Farbe des Links auf Weiß */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-weight: bold; /* Fett gedruckte Schrift, falls gewünscht */
}

/* CSS-Stil für das Sign Up darunter */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select#studiengang {
    width: 70%; /* Setzt die Breite auf 70% */
    padding: 12px;
    margin: 18px 0;
    border: 2px solid #ccc;
    border-radius: 12px;
}

button {
    width: 50%;
    padding: 15px;
    color: #fff;
    background-color: #C9BF99;
    border: none;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

