.logo-container {
    text-align: center;
    padding-top: 20px;
    position: relative; /* Hinzugefügt */
}
.logo {
    max-width: 250px; /* Maximale Breite des Logos */
    display: block; /* Macht das Logo zu einem Blockelement */
    margin: 0 auto 20px; /* Zentriert das Logo horizontal im Container */
}
/* CSS-Stil für den Container */
.container {
    max-width: 80%; /* Ändert die maximale Breite auf 80% des Bildschirms */
    width: 400px;
    margin: 0 auto;
    padding: 40px 0; /* Fügt oben und unten Abstand hinzu */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center; /* Zentriert den Inhalt horizontal */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: #FCDE73;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FCDE73;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

.text-input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-input {
    width: 200px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #FDDF74;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

.ring-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.ring {
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top-color: #FDDF74;
    border-radius: 50%;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 1s linear;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #FDDF74;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
    background-color: #FCDE73;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.text-input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-input {
    width: 200px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #837C69;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.overview-button {
    width: 200px;
    padding: 10px;
    background-color: #C9BF99;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.ring-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    color: #837C69;

}


.ring-svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Start bei 12 Uhr */
    color: #837C69;
}


.congratulation {
    font-size: 18px;
    font-weight: bold;
    color: #FDDF74;
    margin-top: 20px;
    display: none;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    border-radius: 50%;
    animation: confetti-fall 2s linear infinite;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.placeholder-left {
    position: absolute; /* Hinzugefügt */
    top: 40px; /* Positionierung anpassen */
    left: 5px; /* Positionierung anpassen */
    color: #837C69;
    font-weight: bold;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

/* Log-Out Button */
.logout-button {
    position: absolute; /* Hinzugefügt */
    top: 40px; /* Positionierung anpassen */
    right: 5px; /* Positionierung anpassen */
    background-color: #837C69;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}